body {
  font-family: Arial, sans-serif;
  background: white;
}

.container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background: white;
  border-radius: 5px;

  h2{

  }
  input{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    
  }
  button{
    padding: 10px;
    width: 100%;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 3px;
  }
}



button {
  cursor: pointer;
}
